        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,600&display=swap');
        * {
            font-family: 'Open Sans', sans-serif;
        }
        
        body {
            overflow-x: hidden;
            scroll-behavior: smooth;
        }



        .loader-container{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            z-index: 2000;
            background-color: white;
            position: fixed;
            height: 100vh;
        }

        .loader {
            color: #1A129F;
            font-size: 20px;
            margin: 100px auto;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            position: relative;
            text-indent: -9999em;
            -webkit-animation: load4 1.3s infinite linear;
            animation: load4 1.3s infinite linear;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
        }
        @-webkit-keyframes load4 {
            0%,
            100% {
                box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
            }
            12.5% {
                box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            }
            25% {
                box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            }
            37.5% {
                box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
            }
            50% {
                box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
            }
            62.5% {
                box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
            }
            75% {
                box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
            }
            87.5% {
                box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
            }
        }
        @keyframes load4 {
            0%,
            100% {
                box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
            }
            12.5% {
                box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            }
            25% {
                box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            }
            37.5% {
                box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
            }
            50% {
                box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
            }
            62.5% {
                box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
            }
            75% {
                box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
            }
            87.5% {
                box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
            }
        }


        .ani-delay-1{
            animation-delay: 0.5s;
        }

        .ani-delay-2{
            animation-delay: 1s;
        }

        .ani-delay-3{
            animation-delay: 1.5s;
        }
        .ani-delay-4{
            animation-delay: 2s;
        }
        .ani-delay-5{
            animation-delay: 2.5s;
        }


        .social-badge{
            position: absolute;
            bottom: 50px;
            left: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .social-badge a{
            margin-bottom: 10px;
            transition: 0.5s;
        }



        .social-badge a:hover{
            transform: scale(1.5);
        }

        .mouse-function{
            position: absolute;
            bottom: 20px;
            width: 50px;
            height: 50px;
            margin: auto;
            left: 0;
            right: 0;
            /*border: 1px solid black;*/
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 38px;
        }

        .mouse-img{
            width: 17px;
        }

        .site-nav {
            position: absolute;
            top: 0;
            z-index: 50;
        }
        
        .navbar-nav .nav-item .nav-link {
            color: #1A129F;
            font-weight: 300px;
        }
        
        .btn-home {
            line-height: 2;
        }
        
        .about-section,
        .service-section ,.card-color,.purchase-section,.card-for-shape,.contact-section,.form-control{
            background-color: #f2f2f2;
            background-size: 100%;
        }
        
        .service-section {
            position: relative;
        }
        
        .about-btn {
            padding: 16px 60px !important;
        }
        
        .text-dark {
            color: #000000;
        }

        .nav-link{
            color: #db545a !important;
        }

        .nav-link.current-section{
            border: 2px solid #db545a;
            border-radius: 10em !important;
            padding: 0.4em 1.2em !important;
        }

        .navbar-toggler:focus {
            outline: none;
        }
        
        .about-icon {
            background-color: #f1b5b8;
            color: #c65c5e;
            width: 70px;
            height: 70px;
            border-radius: 50px;
            line-height: 2.2;
        }
        
        .divider {
            border-bottom: 2px solid red;
            width: 50px;
            text-align: center;
            margin: 0 auto;
        }
        
        .about-text-p {
            line-height: 1.8;
        }
        
        .last-card {
            margin-top: -58px;
        }
        
        .about-first-section {
            margin-left: 57px;
        }
        
        .shape {
            width: 468px;
            height: 1045px;
            background-color: #db545a;
            margin-left: 160px;
        }
        
        .service-image {
            position: absolute;
        }
        
        .service-image-img {
            width: 754px;
            top: 103px;
            position: absolute;
            left: 98px;
        }
        
        .circle-shape {
            width: 204px;
            height: 204px;
            background-color: #e68387;
            border-radius: 50%;
            position: absolute;
            top: 136px;
            left: 165px;
        }
        
        .service-text {
            line-height: 1.8;
        }
        
        .card-section {
            position: absolute;
            top: 542px;
            left: 652px;
        }

        .card-color{
            border-radius: 20px;

        }
        
        .review-photo {
            border-radius: 50%;
            border: 5px solid white;
            width: 140px;
        }

        .review-text{
            line-height: 1.9;
            height: 241px;
            width: 161px;
        }

        .review-width-chnage{
            /*border-radius: 50%;*/
            /*height: 140px;*/
            /*width: 140px;*/
            width: 133px;
            height: 133px;
            background-position: 50% 50%;
            margin: 0 auto;
        }

        .card{
            border-radius: 25px;
        }

        .purchase-text{
            line-height: 1.6;
        }

        .card-purchase{
            border-radius: 10px;
        }

        .savebtn{
            background-color: #f1c50e;
        }

        .savetext:hover{
          color: black;
        }

        .black-btn:hover{
            background-color: black;
        }

        .fa-arrow-right{
            color: black;
        }

        .static-site{
            position: relative;
        }

        .shape-2{
            width: 764px;
            height: 280px;
            background-color: #db545a;
        }

        .shape-2-image{
            position: absolute;
            top: -1px;
            background-color: white;
            width: 509px;
            left: 110px;
        }

        .card-for-shape{
            border-radius: 10px;
            position: absolute;
            top: -49px;
            left: 662px;
        }

        .shape-3{
            height: 250px;
            background-color: #db545a;
        }

        .contact-card{
            position: absolute;
            top: -51px;
            left: 150px;
            border-radius: 10px;
        }

        .contact-text:hover{
            color: #db545a;
        }



        .site-nav-scroll{
            position: fixed;
            background-color: white;
            box-shadow: 0 0 5px #00000015;
            animation: tosmooth 1s linear;
        }


        
        @keyframes tosmooth {
            from{
                transform: translateY(-200px);
            }to{
                transform: translateY(0) ;
            }
        }
        
        @media screen and (max-width: 576px) {
            .navbar-nav {
                padding-top: 20px;
            }
            .site-nav {
                background-color: #ffffff;
                box-shadow: 0 0 5px #00000015;
                backdrop-filter: blur(3px);
            }
            .site-nav .menu-icon {
                color: #1A129F !important;
            }
            .site-nav .nav-link {
                color: #1A129F !important;
                background-color: white;
                padding: 10px 20px;
                box-shadow: 0 0 5px #00000015;
                border-radius: 10px;
                margin-bottom: 10px;
            }
            .home-section {
                padding-top: 20px;
            }
            .home-text {
                width: 300px !important;
                font-size: 30px;
                padding-top: 80px;
                margin-left: 25px;
            }
            .home-image {
                margin-bottom: 80px;
            }
            .last-card {
                margin-top: 0;
            }

            .about-first-section{
                margin: 0;
            }



            .shape{
                text-align: center;
                margin-left: 8px;
                margin-right: 89px;
                width: 328px;
                height: 1144px;
            }

            .service-image-img{
                left: 0px;
                width: 377px;
                height: 356px;
            }

            .circle-shape{
                width: 150px;
                height: 150px;
                left: 0;
                top: 121px;
            }

            .card-section{
                top: 570px;
                left: -7px;
                padding: 0 30px;
                border-radius: 71px;
                margin-button: 52px;
                width: 412px;
            }

            .review-text{
                margin: 0 auto;
                width: 192px;
            }
            .card-color{
                margin-bottom: 20px;
            }

            .shape-2{
                width: 380px;

            }

            .shape-2-image{
                width: 307px;
                /* right: -22px; */
                left: 52px;
            }

            .card-for-shape{
                left: 24px;
                top: 337px;

                margin-top: 50px;
            }

            .static{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                margin-top: 50px;
                padding-top: 50px;
            }

            .for-static-height{
                height: 916px !important;
            }

            .contact-card{
                left: 14px;
                width: 389px !important;
            }

            .contact-section{
                height: 1000px;
            }


            .mouse-function{
                margin: 0;
                left: auto;
                right: 13px;
                bottom: 0px;
            }
            .social-badge{
                bottom: 58px;
                left: auto;
                right: 32px;
            }
        }